<table>
<tbody>
<div>
  <% if todo_item.completed? %>
      <td><div>
        <%= link_to  complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
          <i style="opacity: 0.4;" class="fa fa-check"></i>
        <% end %>
      </div></td>
      <td><div>
        <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
      </div></td>
      <td><div>
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div></td>
  <% else %>
      <td><div>
        <%= link_to  complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
            <i class="fa fa-check"></i>
        <% end %>
      </div></td>
      <td><div>
        <p><%= todo_item.content %></p>
      </div></td>
      <td><div>
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash"></i>
        <% end %>
      </div></td>
   <% end %>
</div>
</tbody>
</table>