<%= form_for(survey) do |f| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-hover">
  <div class="field">
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </div>

    <div class="field">
      <td><%= f.label :text %></td>
      <td><%= f.text_area :text %></td>
    </div>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
