<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>
<h1>Editing Survey</h1>

<%= render 'form', survey: @survey %>

<table class="table table-hover">
  <td><h2>Questions</h2></td>
  <tr><%= render @survey.questions %></tr>

  <tr><h5>Add a question:</h5></tr>
  <tr><%= render 'questions/form' %></tr>
</table>

<button type="button" class="btn btn-secondary"><%= link_to 'Show', @survey %> </button>

<button type="button" class="btn btn-secondary"><%= link_to 'Back', surveys_path %> </button>