<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>
<h1>Show survey</h1>
<body>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Title</th>
  </tr>
  </thead>

  <tbody>
  <td><%= @survey.name %></td>
  <td><%= @survey.text %></td>
  </tbody>
</table>

<table class="table table-hover">
  <td><h2>Questions</h2></td>
  <tr><%= render @survey.questions %></tr>


  <tr><h5>Add a question:</h5></tr>
  <tr><%= render 'questions/form' %></tr>
</table>



  <button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_survey_path(@survey) %> </button>

  <button type="button" class="btn btn-secondary"><%= link_to 'Back', surveys_path %> </button>
</body>